body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  background-color: #ffffff;
  margin: 0;
}
img {
  display: block;
}
textarea {
  resize: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 27px;
  padding-right: 27px;
}
/* -----------------------------------------------------mobile-header---------------------------------------------------------- */
.header-inst {
  display: none;
}
.header {
  padding-top: 22px;
  padding-bottom: 11px;
  background: linear-gradient(
    269.91deg,
    rgba(46, 49, 146, 0.7) 0%,
    rgba(212, 20, 90, 0.7) 98.16%
  );
}
.header-list {
  text-align: center;
  margin-bottom: 8px;
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.68;
  color: #ffffff;
}
.header-city {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  line-height: 0.94;
  color: #ffffff;
}
.location-icon {
  display: none;
}

.hero {
  padding-top: 26px;
  padding-bottom: 61px;
}
.logo-icon {
  width: 60px;
  height: 36px;
  fill: url(#MyGradient);
}
.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.16;
  color: #000;
  margin-bottom: 38px;
}
.navigation-list {
  display: none;
}
.hero-img {
  display: none;
}
.hero {
  text-align: center;
  background-image: url(../images/bcg-main-mob.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 25px;
  line-height: 1;
  margin-bottom: 8px;
}
.hero-subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.09;
  margin-bottom: 8px;
}
.hero-btn {
  background: linear-gradient(95.2deg, #b90160 2.23%, #2e3192 99.51%);
  border-radius: 7px;
  border: 0px;
  padding: 8px;
  min-width: 93px;
  font-weight: 900;
  font-size: 10px;
  line-height: 1.2;
  color: #ffffff;
}

.about {
  padding-bottom: 103px;
}
.about-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 55px;
}
.about-accent {
  color: #b90160;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-item {
  width: 264px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 0px 40px 0px #b8005f33;
  margin-left: auto;
  margin-right: auto;
}
.about-item img {
  border-radius: 9px 9px 0 0;
}
.about-descr {
  padding: 15px 17px 21px 17px;
}
.about-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.16;
  margin-bottom: 8px;
}
.about-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #767676;
}

.reviews {
  background: linear-gradient(
    94.31deg,
    rgba(212, 20, 90, 0.25) 0.96%,
    rgba(46, 49, 146, 0.25) 104.83%
  );
  padding-top: 97px;
  padding-bottom: 44px;
}
.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 86px;
}
.reviews-descr {
  position: relative;
  padding: 70px 27px 27px 27px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  max-width: 267px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.16;
}
.review-img {
  position: absolute;
  left: 50%;
  bottom: 60%;
  transform: translateX(-50%);
}
.review-text {
  display: block;
  padding-bottom: 20px;
  border-bottom: 2px solid;
  border-color: #d4145a;
}
.review-name {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.15;
  color: #8e8e8e;
  margin-top: 17px;
}

.footer {
  padding: 50px 48px 50px 48px;
  text-align: center;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;
  margin-bottom: 10px;
}
.inst-icon {
  width: 33px;
  height: 33px;
  fill: url(#MyGradient);
  margin-bottom: 14px;
}
.footer-tel {
  font-weight: 300;
  font-size: 14px;
  line-height: 10px;
  color: #000;
}
.footer-contacts {
  margin-bottom: 14px;
}
.footer-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.12;
  color: #000;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-inst {
    display: flex;
    align-items: center;
    width: 160px;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #ffffff;
  }
  .location-icon {
    display: inline;
    width: 10px;
    height: 17px;
    margin-right: 10px;
    fill: #ffffff;
  }
  .inst-icon-header {
    width: 27px;
    height: 27px;
    fill: #ffffff;
  }

  .hero {
    padding-top: 52px;
    padding-bottom: 90px;
    padding-left: 66px;
  }
  .logo-icon {
    width: 100px;
    height: 60px;
  }
  .logo-link {
    justify-content: flex-start;
    gap: 24px;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 62px;
  }
  .hero-img {
    display: block;
  }
  .hero {
    text-align: left;
  }
  .hero-title {
    font-size: 40px;
    line-height: 1;
  }
  .hero-subtitle {
    font-size: 24px;
    line-height: 28px;
  }
  .hero-btn {
    padding: 12px;
    min-width: 141px;
    font-size: 15px;
    line-height: 18px;
  }
  .hero-decr {
    width: 314px;
  }
  .hero-thumb {
    display: flex;
  }

  .about {
    padding-bottom: 124px;
  }
  .about-title {
    font-size: 40px;
    margin-bottom: 48px;
  }
  .about-list {
    gap: 61px;
  }
  .about-item {
    width: 594px;
  }
  .about-item img {
    border-radius: 9px 9px 0 0;
  }
  .about-descr {
    padding: 15px 17px 21px 17px;
  }
  .about-subtitle {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .reviews {
    padding-bottom: 72px;
  }
  .reviews-list {
    gap: 109px;
  }
  .reviews-descr {
    padding: 77px 45px 36px 45px;
    max-width: 536px;
    font-size: 18px;
    line-height: 1.16;
  }

  .footer {
    padding: 95px 48px 48px 0;
    text-align: left;
    background-image: url(../images/bcg-footer-tablet.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .footer-list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
  .footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.12;
    margin-bottom: 10px;
  }
  .inst-icon {
    width: 33px;
    height: 33px;
    fill: url(#MyGradient);
    margin-bottom: 14px;
  }
  .footer-tel {
    font-weight: 300;
    font-size: 14px;
    line-height: 10px;
    color: #000;
  }
  .footer-contacts {
    margin-bottom: 14px;
  }
  .footer-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.12;
    color: #000;
  }
}
